In [0]:
import pandas as pd

## Cleaning a messy csv

In [0]:
#g17 = pd.read_csv('2017girlsnames.csv', thousands=',')
g17 = pd.read_csv('https://raw.githubusercontent.com/adaapp/dav-introductionToPandas/master/2017girlsnames.csv', thousands=',')
g17 = g17.drop(columns="Unnamed: 2").dropna()
g17.Count = g17.Count.astype(int)
g17.head()

## Setting an index and sorting on it

In [0]:
g17 = g17.set_index(g17.Name).drop(columns=["Name"]).sort_index()
g17

## Making a new, constant, column

In [0]:
g17["Gender"]="Girl"
g17

## Deal with the thousands comma

In [1]:
#b17 = pd.read_csv("2017boysnames.csv", thousands=',').drop(columns=["Unnamed: 2"]).dropna()
b17 = pd.read_csv("https://raw.githubusercontent.com/adaapp/dav-introductionToPandas/master/2017boysnames.csv", thousands=',').drop(columns=["Unnamed: 2"]).dropna()
b17

NameError: ignored

## Converting a column to integer

In [0]:
b17.Count = b17.Count.astype(int)
b17

In [0]:
b17 = b17.set_index(b17.Name).drop(columns=["Name"]).sort_index()
b17

In [0]:
b17["Gender"] = "Boy"
b17

## Combining data frames - concatenation

In [0]:
pd.concat([g17,b17])

In [0]:
names17 = pd.concat([g17,b17])

In [0]:
names17 = names17.sort_index()
names17

In [0]:
#g16 = pd.read_csv("2016girlsnames.csv", thousands=',')
g16 = pd.read_csv("https://raw.githubusercontent.com/adaapp/dav-introductionToPandas/master/2016girlsnames.csv", thousands=',')
g16.head()

In [0]:

g16 = g16.dropna()
g16.head()

In [0]:
g16.Count = g16.Count.astype(int)
g16

In [0]:
g16 = g16.dropna()
g16.Count = g16.Count.astype(int)
g16

In [0]:
#g15 = pd.read_csv("2015girlsnames.csv", thousands=',')
g15 = pd.read_csv("https://raw.githubusercontent.com/adaapp/dav-introductionToPandas/master/2015girlsnames.csv", thousands=',')
g15

## Drop a single row of data

In [0]:
g15.drop(7477)

In [0]:
g15 = g15.drop(columns=["Unnamed: 2"])
g15 = g15.dropna()
g15.Count = g15.Count.astype(int)
g15

## Join two dataframes on a common column

What is the difference between an *inner* join and an *outer* join?

In [0]:
pd.merge(g15,g16,how='inner',on='Name',suffixes=["15","16"])

In [0]:
pd.merge(g15,g16,how='outer',on='Name',suffixes=["15","16"])

In [0]:
girls1516 = pd.merge(g15,g16,how='inner',on='Name',suffixes=["15","16"])
girls1516

In [0]:
girls1516 = girls1516.set_index("Name").sort_index()
girls1516

## The filter function with like

In [0]:
pd.options.display.max_rows = 10000
girls1516.filter(like='-', axis=0)