In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
world = pd.read_csv("https://raw.githubusercontent.com/adaapp/dav-introductionToPandas/master/world.csv")
world.head()

   no  country         subregion  ...  water_area  land_borders  dependency_status
0   1  Algeria  Africa (Saharan)  ...           0           Yes               None
1   2    Egypt  Africa (Saharan)  ...        6000           Yes               None
2   3    Libya  Africa (Saharan)  ...           0           Yes               None
3   4  Morocco  Africa (Saharan)  ...         250           Yes               None
4   5  Tunisia  Africa (Saharan)  ...        8250           Yes               None

[5 rows x 18 columns]

In [0]:
world.set_index("country").drop(columns="no")

In [0]:
world = world.set_index("country").drop(columns="no")

## Seaborn relplot

This is a *facet* plot. Here we tell it to group the data by subregions in three columns.

In [0]:
sns.relplot(data=world, x="physician_density", y="birthrate", col="subregion", col_wrap=3)

## Selecting numerical columns

We can use `select_dtypes` to get only columns containing certain kinds of data, in this case floats and integers - ie numeric.

In [0]:
world.select_dtypes(include=['float64','int64'])

## Seaborn pairplot

We can give that numeric data to seaborn's `pairplot` function to look for relationships between any pair of variables, and as a bonus see the distribution of each variable in a histogram.

In [0]:
sns.pairplot(world.select_dtypes(include=['float64','int64']).dropna())

## Introduction to geopandas

In [0]:
import geopandas

`geopandas` has some built-in maps. They're really just dataframes with some drawing information attached.

In [0]:
gp_world = geopandas.read_file(geopandas.datasets.get_path('naturalearth_lowres'))
gp_world

### How to get your index back into a column

In [0]:
world = world.reset_index()

## Merging on a common column with different names

In [0]:
gp_merged = gp_world.merge(world,right_on="country", left_on="name")
gp_merged

## Drawing a map

(or choropleth diagram)

In [0]:
gp_merged.dropna().plot(column="gdp")